$font-stack: arial, sans-serif, vendona;
$pageBackgroundColour: #0a192f;
$cardColour: #112240; 
$webLinkColour: #64ffda;

//common stuff//////////////////////////////////////////////////////////////////////
body {
  background-color: $pageBackgroundColour;
}

p, label, span, textarea, noscript, fieldset, a, figcaption, button, li, h1, h2, h3 {
  font-family: $font-stack;
}

p {
  font-size: 16px;
  color: #a8b2d1;
}

h1, h2, h3, #skills > li, figcaption, #designPatterns > li  {
  color: white;
}

#designPatterns {
  display: flex;
  flex-wrap: wrap;
}

#designPatterns > li {
  width: 50%;
}

#content {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.emailLink {
  color: $webLinkColour;
  text-decoration: none;
}

.webLink {
  color: $webLinkColour;
}

.link:hover, .menuLink:hover {
  color: $webLinkColour;
}

.home{
  margin-top: 20px;
  text-decoration: none;
  font-size: 26px;
  display: inline-block;
  color: white;
  margin-left: 5%;
  width: 50%;
}

//nav page///////////////////////////////////////////////////////////////////////////////////////////44
.styledHeader.hidden {
  transform: translateY(-110%);
}

.styledHeader {
  position: fixed;
  box-shadow: 0 10px 30px -10px $cardColour;
  top: 0;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 11;
  width: 100%;
  height: 70px;
  //background-color: $cardColour;
  background-color: rgba(10, 25, 47, 0.6);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);

  .styledNav {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 12;
  
    .styledLinks {
      margin-right: 5%;
      width: 50%;
    
      ol {
        padding: 0;
        margin: 0;
        float: right;
        margin-top: 0;
        margin-top: 15px;
    
        li {
          display: inline-block;
          right: 30%;
          margin-top: -2px;
          padding-top:0;
    
          a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            margin: 10px;
            float: right;
            text-align: right;
          }

          a:hover {
            color: royalblue;
          }
        }
      }
    }
  }
}

//////nav menu////////////////////////////////////////

.styledMenu {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }

  .styledHamburgerButton {
    @media screen and (max-width: 768px) {
      position: absolute;
      right: 5%;
      z-index: 10;
      padding: 15px;
      //border: 0;
      background-color: transparent;
      color: inherit;
      text-transform: none;
      transition-timing-function: linear;
      transition-duration: 0.15s;
      transition-property: opacity, filter;
    }
  }

  .hamburger-box {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
  } 
}


#about-inner {
  display: flex;
  flex-direction: row;

  div {
    width: 80%;
    margin-right: 30px;
  }

  img {
    width: 20%;
  }
}

////////////////projects stuff ////////////////////////////////////////////
.projectsOuter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projects, #contact {
  padding-top: 30px;
}

.projectCard {
  background-color: $cardColour;
  width: 32.5%;
  border-radius: 4px;
  margin-bottom: 1%;
  position: relative;
  height: 350px;

  .projectCardDetails {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }

  .cardExtraInfo {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    margin-left: -3px;

    p {
      padding: 3px;
      margin: 3px;
    }

    .cardLanguage {
      color: $webLinkColour;
    }
  }
}

.projectInfo {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;

  .projectInfoCol1 {
    width: 70%;
  }
  
  .projectInfoCol2 {
    width: 30%;
    padding-top: 5%;
    padding-left: 5%;

    .cardLanguage {
      color: $webLinkColour;
    }
  }
}

#projects-images > figure, #more-mobile-app-photos > figure  {
  width: 50%;
  padding-right: 40px;
}

#projects-images, #more-mobile-app-photos {
  display: flex;
  flex-wrap: wrap;
}

#more-mobile-app-photos, #more-projects {
  display: none;
}

.mobileAppImage {
  width: 40%;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.projectCardButton, #about-contact-button, .codeButton, .linkedInButton, .show-more-button, .backToProjectsButton, 
#showMoreProjectsButton {
  border: 1px solid royalblue;
  color: royalblue;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  margin-left: 10px;
}

.projectCardButton:hover, #about-contact-button:hover, .codeButton:hover, .linkedInButton:hover, .show-more-button:hover,
  .backToProjectsButton:hover, #showMoreProjectsButton:hover {
  cursor: pointer;
  background-color: royalblue;
  color: #0a192f;
}

.linkedInButton, .codeButton {
  margin-left: 0;
}

.show-more-button, #about-contact-button, .backToProjectsButton, #showMoreProjectsButton {
  margin-left: 45%;
}

.projectCardButton {
  margin-left: 4px;
}

.show-more-button, #about-contact-button, .backToProjectsButton, #showMoreProjectsButton {
  /* margin-left: 45%; */
  margin:0 auto;
  display:block;
  width: 130px;
  text-align: center;
}

.backToProjectsButton {
  width: 170px;
}
  

//project pages//////////////////////////////////////////////////
.projectHeading, figcaption {
  text-align: center;
}

.projectOverview > p {
  padding-right: 40px;
  margin-right: 40px;
}


//resize stuff////////////////////////////////////////@use 
@media screen and (max-width: 800px) {
  #about-inner {
    display: inline-block;
  }

  #about-inner > div {
    width: 100%;
  }

  .projectsOuter {
    width: 100%;

    .projectCard {
      width: 100%;
      height: 300px;
    }
  }

  #more-projects {
    .projectCard {
      width: 100%;
      height: 300px;
    }
  }

  #robotImage, #asteroidShooterImage, #asteroidShooterVideo, .bookingSystemImage, #shikakuSimulatorImage {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #content {
    margin-top: 30px; 
    margin-top: 100px;
  }

  #aboutFigure {
    display: none;
  }

  .styledLinks {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .projectInfo {
    display: block;
    width: 100%;

    .projectInfoCol1, .projectInfoCol2 {
      width: 100%;
    }

    .projectInfoCol2 {
      padding: 0;

      .cardLanguage {
        color: $webLinkColour;
      }
    }
  }

  #projects-images {
    display: block;
  }

  #projects-images > figure {
    width: 100%;
  }

  #more-mobile-app-photos > figure {
    width: 100%;
  }
}